header {
  background-color: rgb(156, 109, 8);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
  }


  .ativo {
    display: none;
  }
}

.titulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.tabela {
  text-align: center;
  margin: 0 -100%;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &__cabecalho {
    color: #7a5d05;

    &__conteudo {
      padding: 10px;
      border-bottom: 2px solid #916d03;
    }
  }

  &__linha {
    margin-bottom: 10px;
    border-radius: 4px;

    &:last-child {
      .tabela__conteudo {
        border-bottom: none;
      }
    }
  }

  &__conteudo {
    padding: 10px;
    border-bottom: 1px solid var(--cinza-claro);
  }
}
